# Variáveis de Ambiente (Segredos)
.env
.env.local
backend/.env
frontend/.env.local

# Dependências
node_modules/
backend/venv/
backend/__pycache__/
.pytest_cache/

# Compilação Next.js
.next/
out/
build/

# Sistema
.DS_Store
*.log